<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{css/list.css}" rel="stylesheet">
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
            <tr>
              <th><span>First Name</span></th>
              <th><span>Last Name</span></th>
              <th><span>Email</span></th>
              <th><span>Password</span></th>
              <th><span>Address</span></th>
              <th><span>Actions</span></th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listOfUser}">
              <td th:text="${user.firstName}">First Name</td>
              <td th:text="${user.lastName}">Last Name</td>
              <td th:text="${user.email}">Email</td>
              <td th:text="${user.password}">Password</td>
              <td th:text="${user.address}">Address</td>
              <td style="width: 20%;">
                <a th:href="@{'/edit/' + ${user.id}}" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
                </a>
                <a th:href="@{'/delete/' + ${user.id}}" class="table-link danger">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination pull-right">
          <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>