<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div align="center">
  <h1>Restaurant List</h1>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Food</th>
      <th>Cost Per Unit</th>
      <th>Quantity</th>
      <th>Total Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart: ${listOfCart}">
      <td th:text="${cart.id}">User</td>
      <td th:text="${cart.user.firstName}">User</td>
      <td th:text="${cart.food.name}">Food</td>
      <td th:text="${cart.food.price}">Cost Per Unit</td>
      <td th:text="${cart.quantity}">Quantity</td>
      <td th:text="${cart.totalPrice}">Total Cost</td>


    </tr>
    </tbody>
  </table>
</div>

</body>
</html>